label {
  display: inline-block;
  width: 100px;
}


#description-container {
  display: flex;
  align-items: center;
}


#description-container label {
  margin-right: 5px;
}


#error-message {
  font-size: 14px;
  color: red;
}
