#tooltip {
  position: absolute;
  z-index: 999;
  max-width: 20em;
  background-color: lightgrey;
  opacity: 0.0;
  padding: 0.5em 1em;
  pointer-events: none;
}

#tooltip p {
  font-size: 1.2em;
}

#locationText {
  white-space: pre-wrap;
}
