<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Karmøy Admin</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon/favicon.png">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <link rel="stylesheet" href="/static/css/admin.css"/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
  </head>

  <body>
    <form id="upload-form" action="/api/upload" method="POST" enctype="multipart/form-data">
      <label for="latitude">Latitude: </label>
      <input type="number" step="0.00001" min="-90" max="90" id="latitude" name="latitude" value="60.38500" autocomplete="off" required>
      <br>
      <label for="longitude">Longitude: </label>
      <input type="number" step="0.00001" min="-180" max="180" id="longitude" name="longitude" value="5.34000" autocomplete="off" required>
      <br>
      <label for="file">Image: </label>
      <input type="file" id="file" name="file" autocomplete="off" required>
      <br>
      <div id="description-container">
        <label for="description">Description: </label>
        <textarea id="description" name="description" autocomplete="off"></textarea>
      </div>
      <br>
      <button type="submit">Upload</button>
    </form>
    <div id="map" style="height: 90vh"></div>

    <script src="/static/js/admin.js"></script>
  </body>
</html>
