<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <title>Karmøy Stickers</title>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <link rel="stylesheet" href="/static/css/index.css"/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
  </head>

  <body>
    <div id="map" style="height: 100vh">
      <div id="tooltip">
        <div id="tooltipInfo">
          <p id="idText">Id: </p>
          <p id="locationText">Location: </p>
          <p id="descriptionText">Description: </p>
        </div>
        <img id="tooltipImage" src="/static/images/0.jpg"/>
      </div>

    </div>
    <script src="/static/js/index.js"></script>
  </body>
</html>
