<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8">
    <title>Karmøy Login</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon/favicon.png">

    <link rel="stylesheet" href="/static/css/login.css">
  </head>

  <body>
    <form method="POST" action="/api/login">
      <label for="username">Username: </label>
      <input type="text" id="password" name="username" required>
      <br>
      <label for="password">Password: </label>
      <input type="password" id="password" name="password" required>
      <br>
      <button type="submit">Log in</button>
    </form>
    <p id="error-message"></p>
      
    <script src="/static/js/login.js"></script>
  </body>
</html>
